[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "==5.8.0"
pandas = "*"
kaleido = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
